body {
    font-family: Arial;
}

/*.cesta {
    background-color: black;
    color: white;
    position: relative;
    float: right;
    top: -65px;
    right: 127px;
}*/

/*.header{
    background-color: rgb(56, 197, 216);
    text-align: center;
    padding: 0 25% 0 25%;
    
}*/
.header{
    background-color: rgb(56, 197, 216);
    border: 2px solid rgb(56, 197, 216);
    border-radius: 7px;
}

.mostrar-usuario, .cesta{
    border: 2px solid;
    border-radius: 7px;
    width: 300px;
    font-weight: bold;
    margin-left: 2%;
    position: relative;
}


.contenedor {
    /*border: 2px black solid;
    margin-right: 80%;*/
    display: flex;
    flex-wrap: wrap; /*muestra el texto en una sola linea*/
    margin-left: -8px;
    margin-right: -8px;
    
    align-items: center;
    justify-content: center;
}

.caja {
    
    flex-basis: 25%;
    padding: 8px 8px 10px 8px;
    border: 4px solid rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    width: auto;
    height: 400px;
    margin: 20px; 
}

/*.caja:hover{
    background: rgba(0, 0, 0, 0.3);
    content: '';

    /* posicion */
    
    /*position: relative;
    transform: translate(1rem, 1rem);*/

    /* tamaño igual que la caja original */
    /*width: 100px;
    height: 350px;

    /* se posiciona por encima de la caja */
    /*z-index: 1;
}*/

.caja img{
    width: 200px;
    height: 250px;
    position: absolute;
    float: left;
}

.fdcha {
    float: left;
    margin-left: 220px;
    height: 250px;
    line-height: 24px;
}

.caja-titulo{
    font-size: 22px;
    font-weight: bolder;
}

.caja-fam{
    font-size: 15px;
    color: rgb(202, 199, 199);
    
}
.caja-precio{
    font-size: 30px;
    /*color: rgb(56, 197, 216);
    text-shadow: 0px 0px 4px rgb(58, 143, 158), 0px 0px 6px rgb(20, 70, 77);*/
    color: rgb(56, 197, 216);
    text-shadow: 0 0 4px #111e41, 0 0 8px rgb(57, 145, 156);
    
}

/*separador*/
hr{
    border: none;
    height: 1px;
    background-image: linear-gradient(to right, #f0f0f0, rgb(56, 197, 216), #f0f0f0); /*gradiente*/
}

.caja-des{
    width: 300px;
    white-space: nowrap;
    overflow:hidden; 
    text-overflow: ellipsis;
}

.caja input{
    background-color: rgb(56, 197, 216);
    border-radius: 5px;
    width: 150px;
    height: 30px;
    border: none;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    align-items: center;
}

.caja input:hover{
    /*background: rgba(33, 255, 26, 0.438);*/
    background-color: white;
   
}
.btn {
    border: 2px solid transparent;
    background: rgb(56, 197, 216);
    color: #ffffff;
    font-size: 16px;
    line-height: 25px;
    padding: 10px 0;
    text-decoration: none;
    text-shadow: none;
    border-radius: 3px;
    box-shadow: none;
    transition: 0.25s;
    width: 250px;
    margin: 0 auto;
    position: relative;
    float: right;
    margin-top: -2%;
  }
  
  .btn:hover {
    /*background-color: #2980B9;*/
    background-color: white;
    color: rgb(56, 197, 216);
  }
  .pagar {
    border: 2px solid transparent;
    background: rgb(147, 216, 56);
    color: #ffffff;
    font-size: 16px;
    line-height: 25px;
    padding: 10px 0;
    text-decoration: none;
    text-shadow: none;
    border-radius: 3px;
    box-shadow: none;
    transition: 0.25s;
    width: 250px;
    margin: 0 auto;
    position: relative;
    float: right;
    align-items: center;
    margin-top: -2%;
  }
  
  .pagar:hover {
    /*background-color: #2980B9;*/
    background-color: white;
    color: rgb(0, 0, 0);
  }
  .desconectar {
    border: 2px solid transparent;
    background: rgb(216, 147, 56);
    color: #ffffff;
    font-size: 16px;
    line-height: 25px;
    padding: 10px 0;
    text-decoration: none;
    text-shadow: none;
    border-radius: 3px;
    box-shadow: none;
    transition: 0.25s;
    width: 250px;
    margin: 0 auto;
    float: right;
    margin-top: -2%;
  }
  
  .desconectar:hover {
    /*background-color: #2980B9;*/
    background-color: white;
    color: rgb(0, 0, 0);
  }
